.app {
  font-family: 'Ysabeau', sans-serif;
  font-family: 'Ysabeau SC', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

}

.list-item {
  transition: transform 0.3s ease;
  transform: translateY(-100%);
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0;
  animation: slideDown 0.3s ease-in-out forwards;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.list-item.animate {
  transform: translateY(0%);
}

.title{
  font-size: 60px;
}

.card {
  border: 1px solid #ccc;
  padding: 10px;
  animation: slide 0.3s ease-in-out forwards;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.smart {
  color: blue;
}

.simple{
  color:;
}
