.container {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #ff0080, #8000ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  button {
    padding: 10px 20px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #286090;
  }
  
  p {
    font-size: 18px;
    margin-top: 20px;
  }

  body {
    background-color: antiquewhite;
  }
  